body{
    margin: 0;
    background-color: #c3c2c2;
}

.background1 {
    background-color: #3e86fc;               
    height: 135px; 
}

.center { 
    background: white;
    height: 590px;
    width: 1287px;             
    margin: 15px auto 0 auto;    
    box-shadow: 2px 3px 5px #9d9b9b; 
    }
    

.container1 {  
    overflow: hidden;   
    height: 74px;
    border-bottom: 1px solid #c3c2c2;
}

.wrapper { 
    width: 1300px;
    margin: 0 auto;
    overflow: hidden;
      
}




